body {
    font-family: 'Times New Roman', Times, serif;
    background: url('https://img.freepik.com/foto-gratis/vista-nocturna-galaxia_23-2148895312.jpg?semt=ais_hybrid') no-repeat center center fixed;
    background-size: cover;
    color: white; 
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #700d74;
    padding: 20px;
    font-size: 24px;
    animation: fadeIn 2s ease-in-out;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #490849;
    padding: 10px 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: rgb(216, 208, 208);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00;
}

section {
    padding: 40px;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}

footer {
    background-color: #11114d;
    padding: 10px;
    font-size: 14px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}